
  // -----
// 設定scss
// -----

// 色
$color-main: #6CC6C4; // ベース色
$color-active: #b22c00; // アクティブ色
$color-background-base: #fff; // 背景色
$color-text-base: #515151; // テキスト色
$hover-opacity: 0.6; // 透過度

// レイアウト幅
$layout-width-canvas: 1366px;
$layout-width-inner: 920px;

// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 767px)",
	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	"tab": "(max-width: #{$layout-width-inner - 1px})",
	"pc": "(min-width: #{$layout-width-inner})",
);



// フォント
$font-family-default: Verdana, Arial, Helvetica, meirio, メイリオ, "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック", sans-serif; // 標準フォント
$font-family-base: $font-family-default;
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 1.5;

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

// -----
// 初期化
// -----
*,
*::before,
*::after {
	box-sizing: border-box;
}
a{
  text-decoration: none;
}

html,
body ,
p,
ul ,
li
{
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	color: $color-text-base;
	line-height: $line-height-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $color-background-base;
	overflow-x: hidden;
	overflow-wrap: break-word;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}
li{
  list-style: none;
}
/******/ 
body{
  position: relative;
  background: #F6F6F6;
}
.top-border{
  position: absolute;
  content: "";
  background: $color-main;
  top:0;
  left: 0;
  right: 0;
  height: 8px;
}
.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;

}

/***  header  ***/ 
header{
  padding-top: 8px;
}

.header-inner{
  display: flex;
  margin-bottom: 20px;
}
.header-left{
  margin-right: auto;
  margin-top: 50px;
}
.header-txt{
  font-size: 10px;
  margin: 12px 0 6px;
  text-align: right;
}
.header-tel{
  font-size: 26px;
  text-align: right;
  line-height: 1.8;

  &::before{
    content:"\f879";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    padding-right: 15px;


  }
}
.header-date{
  font-size: 10px;
  border: 1px solid #D6D6D6 ;
  padding: 9px 20px;
  line-height: 1;

  &::after{
    content: "日祝 休診";
    color:$color-active;
    padding-left: 5px;
  }
}
/***  header nav   ***/
 .header-list{
   ul{
     display: flex;
     justify-content: space-around;
     list-style: none;
     text-align: center; 
     border: 1px solid #6CC6C4;
     background: -moz-linear-gradient(top, #9CE3E1, #6CC6C4);
     background: -webkit-linear-gradient(top, #9CE3E1, #6CC6C4);
     background: linear-gradient(to bottom, #9CE3E1, #6CC6C4);
     border-radius: 5px;
 
   }
   li{
     flex:0 0 1;
     display: inline-block;
     width: 100%;
     padding: 18px 0;
     border-right:1px solid rgb(153,225,223);
     border-left: 1px solid rgb(121,206,204);

     &:first-child{
       border-left: none;
     }
     &:last-child{
       border-right: none;
     }
     &:hover{
       opacity: $hover-opacity;
       position: relative; top: 1px; left: 1px;
       background: -moz-linear-gradient(top, #6CC6C4, #9CE3E1);
       background: -webkit-linear-gradient(top, #6CC6C4, #9CE3E1);
       background: linear-gradient(to bottom, #6CC6C4, #9CE3E1);
     }
    //  background: $color-main;
   }
   .header-list-item{
     font-weight: 700;
     color: #fff;
     display:block;
     line-height: 1.2;
    
    
    
     span{
       font-size: 10px;
       font-weight: 700;
       color: #fff;
       
     }
   }
 }

/*** wrapper ***/ 

.wrapper{
  display: flex;
  flex-direction: row-reverse;
  margin:20px 0;
}

/***  MAIN  ***/  

/***  Top  ***/ 
main{
  width: 69.5652%;
}
aside{
  width: 28.2608%;
  margin-right: 20px;
}
.top-picture {
  text-align: right;   
}
.news{
  margin-top: 5px;
  background: #FFF;
}
.news-wrap{
  padding: 20px;
}
.news-title{
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
  border-bottom: 3px solid #6CC6C4;
}
.news-box{
  display: flex;
  margin:0 10px;
  border-bottom: 1px dotted rgb(204,204,204);
}
.news-list{
width: 140px;
font-size: 13px;
font-weight: bold;
padding: .8em 0;
}
.news-list-item{
  width: 440px;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: .8em .3em ;
  line-height: 1.5;
}

/**** aside ****/ 

.aside-box{
  border: 1px solid #6CC6C4;
  border-radius: 5px 5px 0 0;
  // padding: 0 10px;
  &:first-child{
    margin-bottom: 20px;
  }
}
.aside-title{
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  background: -moz-linear-gradient(top, #9CE3E1, #6CC6C4);
     background: -webkit-linear-gradient(top, #9CE3E1, #6CC6C4);
     background: linear-gradient(to bottom, #9CE3E1, #6CC6C4);
  line-height: 1;
  padding: 14px  ;
}
.aside-list{
  padding:0 10px 20px;
  color: #FFF;
}
.aside-list-item{

}
.aside-list-item-link{
   color:$color-text-base;
   display: block;
   font-weight: bold;
  line-height: 1;
  padding: 14px 15px 14px 25px;
  border-bottom: 1px solid #6CC6C4;
  position:relative;

  &::before{
    content:'';
    display:inline-block; 
    position:absolute; 
    background:#6CC6C4;
    width:8px;
    height:8px; 
    top:18px; 
    left:5px; 
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
  }
  &:hover{
    opacity: $hover-opacity;
    color: #6CC6C4;

  }
}
.aside-box{
  &:last-child a{
   &:hover{
     color: #aec24c;
   }
  }
}

/*** footer ***/ 

.footer-nav{
  background: #6CC6C4;
  border-radius: 5px;
  padding: 5px 40px;

  ul{
    display: flex;
  }
  li{
    padding-right: 40px;
    &:last-child{
      padding-right: 0;
    }
  }
}
.footer-list-item{
  font-size: 13px;
  color: #fff;
  display: inline-block;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    top:3px;
    left: -20px;
    margin: auto;
background-color: #6CC6C4;
border: solid 2px #FFF;
width: 12px;
height: 12px;
-moz-border-radius: 60px;
-webkit-border-radius: 60px;
border-radius: 60px;
// box-shadow: 0 0 0 3px #00b1f4;
// -webkit-box-shadow: 0 0 0 3px #00b1f4;
// -moz-box-shadow: 0 0 0 3px #00b1f4;
  }
  &:hover{
    text-decoration: underline;
  }
}
.footer-address{
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  padding: 10px 0;
  border-bottom: 2px solid #6CC6C4;
  p{
    padding-right: 5px;
    &:last-child{
      padding-right: 0;
    }
  }
  .foooter-address-title{
    font-weight: bold;
  }
}
.copy-right{
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}